.autogeneres/
auto-save-list/
backups/
bookmarks
elpa/archives/
eshell/
network-security.data
projectile*
*recentf*
*~
**/*~
snippets/
tramp
url/
ac-comphist.dat
image-dired/
#*
**/#*
/elpa/0blayout-readme.txt
/.org-id-locations
/elpa/ac-js2-readme.txt
/org-caldav-61a6d54.el
/session.2ab30bcc1-85a5-4faa-82aa-055ed4658f8c
